@import './plugins/material-design-iconic-font.min.css';

@font-face {
  font-family: 'PFHandbook';
  src: url('./fonts/PFHandbookPro-Regular.ttf') format('truetype');
  font-style: normal !important;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}